<div
      ng-repeat="flashCard in flashCards | orderBy : 'question'"
      class="flash-card"
      ng-controller="FlashCardController">
      <h3>{{ flashCard.category }}</h3>
    <h1>{{ flashCard.question | uppercase }}</h1>
    <ul class="flash-card-answers">
      <li ng-if="cheatMode"
        ng-repeat="answer in flashCard.answers | cheatMode"
        class="flash-card-answer"
        ng-click="answerQuestion(answer)">{{ answer.text }}</li>
      <li ng-if="!cheatMode"
        ng-repeat="answer in flashCard.answers"
        class="flash-card-answer"
        ng-click="answerQuestion(answer)">{{ answer.text }}</li>
    </ul>
    <h2
      class="answer-feedback"
      ng-class="answeredCorrectly ? 'correct' : 'incorrect'"
      ng-show="answered">
        <span ng-show="answeredCorrectly">Yeah, you got it right!</span>
        <span ng-show="!answeredCorrectly">Nope, you got it wrong.</span>
    </h2>
    
</div>